html,body{
	padding: 0;
	margin: 0;
}
/*head start*/
.generalInfo{
	text-align: center;
	display: flex;
	justify-content: space-around;
	padding: 30px;
}
.limit{
	width:200px;
}
#limitUser{
	margin-bottom: 15px;
}
.list-header{
	background-color: rgba(12,100,100,.4);
}

.tablo span{
	color: red;
	float: right;
}
/*head end*/
#emlpSection{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
#emlpSection *{
}
.employeeList{
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin-top: 0;
	background-color: rgba(122,122,122,.5)
}
.employeeList li{
	display: flex;
}
.employeeFirstName,.employeeLastName,.employeeSalary,.employeePosition{
	width: 25%;
	font-size: 18px;
	text-align: center;
	padding: 10px 5px;
}
.addEmployee{
	background-color: blue;
	border-radius: 5px;
	color:white;
	padding: 10px;
	font-size: 20px;
	max-width:250px;
	align-self: center;
}
.addEmployee:disabled{
	background-color: grey;
	color:lightgrey;
}
/*Form begin*/
.hidden{
	display: none;
}
.visible{
	display:flex;
}
form{
	margin-top: 20px;
	padding: 20px;
	background-color: rgba(162,122,13,.25);
	width: 100%;
	max-width: 375px;
	border-radius: 20px;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
label{
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
}
input{
	width: 90%;
	height: 25px;
	margin: 5px 0;
	font-size: 16px;
	padding: 3px;
	text-align: center;
} 
input:invalid{
	border:none;
	border:2px dashed red;
}
input:valid{
	border:none;
	border-bottom:2px dashed green;
}
/*Form end*/

